---
layout: page
title: A propos
---
	<p>Depuis février 2017, la Ville de Paris expérimente au sein du Secrétariat Général une nouvelle manière de construire des services publics numériques avec le programme Startups de Ville, lancé sur le modèle des Startups d'Etat porté par le SGMAP</p>
  L’exigence d’innovation radicale impose d’initier une Startup de Ville loin de toute contrainte, pour qu’elle ne reproduise pas les règles explicites ou implicites qui fondent le service tel qu’il existe aujourd’hui. Pour autant, elle n’a pas besoin de capital privé. Une Startup de Ville est donc simplement une équipe autonome de 2 personnes financée par la Ville de Paris.</p>
  <p>
Cette posture iconoclaste induit des changements profonds. Elle impose de s’appuyer sur des utilisateurs volontaires qui vont créer de la conviction autour des premiers bénéfices observés. Corollaire : une Startup de Ville ne cherche pas à obtenir un consensus général avant de démarrer, elle cherche un premier usager satisfait.
  </p>
