---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="startups.html" class="button special">Découvrez nos Startups de Ville</a></li>
							</ul>
						</div>
					</section>

