---
layout: page
title: Startups de Ville
subtitle: Découvrez les services publiques numériques que nous sommes en train de construire
---
  <header>
    <h3>AlloAnim</h3>
    <p> En construction</p>
  </header>
	<p>
  <span class="image left"><img src="images/alloanim.png" alt="alloanim" /></span> 
  AlloAnim met en relation les animateurs périscolaires habilités avec les écoles qui ont besoin d'eux.
	<p>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec dui cursus, posuere dui eget interdum. Fusce lectus magna, sagittis at facilisis vitae, pellentesque at etiam. Quisque posuere leo quis sem commodo, vel scelerisque nisi scelerisque. Suspendisse id quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius.</p>
	<hr />
  <header>
    <h3>Vite un lieu</h3>
    <p> En construction</p>
  </header>
	<p>
  <span class="image left"><img src="images/viteunlieu.png" alt="viteunlieu" /></span> 
 Vite un lieu aide les associations parisiennes à trouver une salle pour leurs réunions, évenements, activités collectives. 
	<p>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec dui cursus, posuere dui eget interdum. Fusce lectus magna, sagittis at facilisis vitae, pellentesque at etiam. Quisque posuere leo quis sem commodo, vel scelerisque nisi scelerisque. Suspendisse id quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius.</p>
